on: [pull_request]
name: CI
jobs:
  test:
    strategy:
      matrix:
        go-version: [1.15.x, 1.16.x]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Linting
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.29
      - name: Test
        run: go test -race -timeout 10s ./...